#define IDM_MYMENURESOURCE   100
#define IDM_SAVE 101
#define IDM_LOAD 102
#define IDI_BUTTON_PENCIL 150
#define IDI_ICON 151
#define IDI_BUTTON_CLEAR 152
#define IDI_BUTTON_START 153
#define IDI_BUTTON_FINISH 154
#define IDI_BUTTON_BEGIN 155

IDI_ICON ICON DISCARDABLE "icon.ico"
IDI_BUTTON_PENCIL BITMAP DISCARDABLE "pencil.bmp"
IDI_BUTTON_CLEAR BITMAP DISCARDABLE "clear.bmp"
IDI_BUTTON_START BITMAP DISCARDABLE "Start.bmp"
IDI_BUTTON_FINISH BITMAP DISCARDABLE "Finish.bmp"
IDI_BUTTON_BEGIN BITMAP DISCARDABLE "begin.bmp"

IDM_MYMENURESOURCE MENU
{
	POPUP "File"
	{
		MENUITEM "Save", IDM_SAVE
		MENUITEM "Load", IDM_LOAD
	}		
}