#define IDM_MYMENURESOURCE   100
#define IDM_SAVE 101
#define IDM_LOAD 102
#define IDI_BUTTON_PENCIL 150
#define IDI_ICON 151

IDI_ICON ICON DISCARDABLE "icon.ico"
IDI_BUTTON_PENCIL BITMAP DISCARDABLE "pencil.bmp"

IDM_MYMENURESOURCE MENU
{
	POPUP "File"
	{
		MENUITEM "Save", IDM_SAVE
		MENUITEM "Load", IDM_LOAD
	}		
}